table {
  border: 1px solid black;
  border-collapse: collapse;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
}
.left {
  flex: 25%;
}
.right {
  flex: 75%;
}
th, td {
  padding: 5px;
  text-align: left;
}

body {
  margin: 0;
}

#holder, #linkPanel {
  display: none;
}

#errors {
  color: red;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #000;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  } 40% {
    transform: scale(1.0);
  }
}
